// 项目提供scss全局变量

// 左侧菜单宽度
$base-menu-width: 260px;
$base-menu-fold-width: 80px;
// 左侧菜单背景
$base-menu-background: #001529;

// 顶部导航高度
$base-tabbar-height: 60px;
$base-tabbar-background: #fff;

// 内容区背景
$base-main-bg: #e3e3e3;

// 左侧菜单logo高度
$base-menu-logo-height: 80px;

$base-menu-title-fontSize: 20px;
$base-menu-title-fontColor: #fff;
